# Importing Libraries

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Loading the DataSet

**H1** = Resort Hotel

**H2** = City Hotel

In [26]:
h1 = pd.read_csv('../data/H1.csv')

h1.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [27]:
h2 = pd.read_csv('../data/H2.csv')

h2.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-04-02

**Note:** Both dataframes have the same size and structure, let's concact it and create a new column so we know where the data comes from

In [30]:
#h1['Hotel'] = 'Resort Hotel'

#first_column = h1.pop('Hotel')
#h1.insert(0, 'Hotel', first_column)

# Create a new column Hotel and fills it with 'Resort Hotel', then set_index move it to the index
# of the DataFrame and reset_index resets the index to the default integer index, thus moving 'Hotel'
# column to the first position
h1 = h1.assign(Hotel='Resort Hotel').set_index('Hotel').reset_index()

In [31]:
h2 = h2.assign(Hotel='City Hotel').set_index('Hotel').reset_index()

In [36]:
df = pd.concat([h1, h2])

# Exploratory Data Analysis and Data Cleaning

**Initial EDA**

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119390 entries, 0 to 79329
Data columns (total 32 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Hotel                        119390 non-null  object
 1   IsCanceled                   119390 non-null  int64
 2   LeadTime                     119390 non-null  int64
 3   ArrivalDateYear              119390 non-null  int64
 4   ArrivalDateMonth             119390 non-null  object
 5   ArrivalDateWeekNumber        119390 non-null  int64
 6   ArrivalDateDayOfMonth        119390 non-null  int64
 7   StaysInWeekendNights         119390 non-null  int64
 8   StaysInWeekNights            119390 non-null  int64
 9   Adults                       119390 non-null  int64
 10  Children                     119386 non-null  float64
 11  Babies                       119390 non-null  int64
 12  Meal                         119390 non-null  object
 13  Country                      118902 non-null  object
 14  MarketSegment                119390 non-null  object
 15  DistributionChannel          119390 non-null  object
 16  IsRepeatedGuest              119390 non-null  int64
 17  PreviousCancellations        119390 non-null  int64
 18  PreviousBookingsNotCanceled  119390 non-null  int64
 19  ReservedRoomType             119390 non-null  object
 20  AssignedRoomType             119390 non-null  object
 21  BookingChanges               119390 non-null  int64
 22  DepositType                  119390 non-null  object
 23  Agent                        119390 non-null  object
 24  Company                      119390 non-null  object
 25  DaysInWaitingList            119390 non-null  int64
 26  CustomerType                 119390 non-null  object
 27  ADR                          119390 non-null  float64
 28  RequiredCarParkingSpaces     119390 non-null  int64
 29  TotalOfSpecialRequests       119390 non-null  int64
 30  ReservationStatus            119390 non-null  object
 31  ReservationStatusDate        119390 non-null  object
dtypes: float64(2), int64(16), object(14)
memory usage: 30.1+ MB

**Note:** We got some null vales in Children and Country, let's see if there's more null values in the columns that didn't appear on .info()

In [51]:
# Get a boolean series indicating which columns have at least one null value
#null_columns = df.isnull().any()

# Filter the DataFrame to include only these columns
#df_with_nulls = df[df.columns[null_columns]]

# Use .info() on this filtered DataFrame
#df_with_nulls.info()

df[df.columns[df.isnull().any()]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 119390 entries, 0 to 79329
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Children  119386 non-null  float64
 1   Country   118902 non-null  object
dtypes: float64(1), object(1)
memory usage: 2.7+ MB

Only Children and Country have null values, let's take a better look at our columns names

In [60]:
df.columns

Index(['Hotel', 'IsCanceled', 'LeadTime', 'ArrivalDateYear',
       'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate'],
      dtype='object')

**Note:** ReservationStatusDate is a object, we need to change it do date time

In [63]:
df['ReservationStatusDate'] = pd.to_datetime(df['ReservationStatusDate'])

In [64]:
df.shape

(119390, 32)

In [65]:
df.describe()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,BookingChanges,DaysInWaitingList,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatusDate
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,2.321149,101.831122,0.062518,0.571363,2016-07-30 00:24:47.883407104
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000,2014-10-17 00:00:00
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.290000,0.000000,0.000000,2016-02-01 00:00:00
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.575000,0.000000,0.000000,2016-08-07 00:00:00
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,0.000000,1.000000,2017-02-08 00:00:00
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,391.000000,5400.000000,8.000000,5.000000,2017-09-14 00:00:00
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,17.594721,50.535790,0.245291,0.792798,NaN

**Note:** We still have in the dataframe a lot of object, we can use describe to see them better

In [67]:
df.describe(include='object')

,Hotel,ArrivalDateMonth,Meal,Country,MarketSegment,DistributionChannel,ReservedRoomType,AssignedRoomType,DepositType,Agent,Company,CustomerType,ReservationStatus
count,119390,119390,119390,118902,119390,119390,119390,119390,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,10,12,3,334,353,4,3
top,City Hotel,August,BB,PRT,Online TA,TA/TO,A,A,No Deposit,9,NULL,Transient,Check-Out
freq,79330,13877,92310,48590,56477,97870,85994,74053,104641,31961,112593,89613,75166

In [69]:
for col in df.describe(include='object').columns:
    print(col)
    print(df[col].unique())
    print('-'*50)

Hotel
['Resort Hotel' 'City Hotel']
--------------------------------------------------
ArrivalDateMonth
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
--------------------------------------------------
Meal
['BB       ' 'FB       ' 'HB       ' 'SC       ' 'Undefined']
--------------------------------------------------
Country
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
--------------------------------------------------
MarketSegment
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
--------------------------------------------------
DistributionChannel
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
--------------------------------------------------
ReservedRoomType
['C               ' 'A               ' 'D               '
 'E               ' 'G               ' 'F               '
 'H               ' 'L               ' 'P               '
 'B               ']
--------------------------------------------------
AssignedRoomType
['C               ' 'A               ' 'D               '
 'E               ' 'G               ' 'F               '
 'I               ' 'B               ' 'H               '
 'P               ' 'L               ' 'K               ']
--------------------------------------------------
DepositType
['No Deposit     ' 'Refundable     ' 'Non Refund     ']
--------------------------------------------------
Agent
['       NULL' '        304' '        240' '        303' '         15'
 '        241' '          8' '        250' '        115' '          5'
 '        175' '        134' '        156' '        243' '        242'
 '          3' '        105' '         40' '        147' '        306'
 '        184' '         96' '          2' '        127' '         95'
 '        146' '          9' '        177' '          6' '        143'
 '        244' '        149' '        167' '        300' '        171'
 '        305' '         67' '        196' '        152' '        142'
 '        261' '        104' '         36' '         26' '         29'
 '        258' '        110' '         71' '        181' '         88'
 '        251' '        275' '         69' '        248' '        208'
 '        256' '        314' '        126' '        281' '        273'
 '        253' '        185' '        330' '        334' '        328'
 '        326' '        321' '        324' '        313' '         38'
 '        155' '         68' '        335' '        308' '        332'
 '         94' '        348' '        310' '        339' '        375'
 '         66' '        327' '        387' '        298' '         91'
 '        245' '        385' '        257' '        393' '        168'
 '        405' '        249' '        315' '         75' '        128'
 '        307' '         11' '        436' '          1' '        201'
 '        183' '        223' '        368' '        336' '        291'
 '        464' '        411' '        481' '         10' '        154'
 '        468' '        410' '        390' '        440' '        495'
 '        492' '        493' '        434' '         57' '        531'
 '        420' '        483' '        526' '        472' '        429'
 '         16' '        446' '         34' '         78' '        139'
 '        252' '        270' '         47' '        114' '        301'
 '        193' '        182' '        135' '        350' '        195'
 '        352' '        355' '        159' '        363' '        384'
 '        360' '        331' '        367' '         64' '        406'
 '        163' '        414' '        333' '        427' '        431'
 '        430' '        426' '        438' '        433' '        418'
 '        441' '        282' '        432' '         72' '        450'
 '        180' '        454' '        455' '         59' '        451'
 '        254' '        358' '        469' '        165' '        467'
 '        510' '        337' '        476' '        502' '        527'
 '        479' '        508' '        535' '        302' '        497'
 '        187' '         13' '          7' '         27' '         14'
 '         22' '         17' '         28' '         42' '         20'
 '         19' '         45' '         37' '         61' '         39'
 '         21' '         24' '         41' '         50' '         30'
 '         54' '         52' '         12' '         44' '         31'
 '         83' '         32' '         63' '         60' '         55'
 '         56' '         89' '         87' '        118' '         86'
 '         85' '        210' '        214' '        129' '        179'
 '        138' '        174' '        170' '        153' '         93'
 '        151' '        119' '         35' '        173' '         58'
 '         53' '        133' '         79' '        235' '        192'
 '        191' '        236' '        162' '        215' '        157'
 '        287' '        132' '        234' '         98' '         77'
 '        103' '        107' '        262' '        220' '        121'
 '        205' '        378' '         23' '        296' '        290'
 '        229' '         33' '        286' '        276' '        425'
 '        484' '        323' '        403' '        219' '        394'
 '        509' '        111' '        423' '          4' '         70'
 '         82' '         81' '         74' '         92' '         99'
 '         90' '        112' '        117' '        106' '        148'
 '        158' '        144' '        211' '        213' '        216'
 '        232' '        150' '        267' '        227' '        247'
 '        278' '        280' '        285' '        289' '        269'
 '        295' '        265' '        288' '        122' '        294'
 '        325' '        341' '        344' '        346' '        359'
 '        283' '        364' '        370' '        371' '         25'
 '        141' '        391' '        397' '        416' '        404'
 '        299' '        197' '         73' '        354' '        444'
 '        408' '        461' '        388' '        453' '        459'
 '        474' '        475' '        480' '        449']
--------------------------------------------------
Company
['       NULL' '        110' '        113' '        270' '        178'
 '        240' '        154' '        144' '        307' '        268'
 '         59' '        204' '        312' '        318' '         94'
 '        174' '        274' '        195' '        223' '        317'
 '        281' '        118' '         53' '        286' '         12'
 '         47' '        324' '        342' '        373' '        371'
 '        383' '         86' '         82' '        218' '         88'
 '         31' '        397' '        392' '        405' '        331'
 '        367' '         20' '         83' '        416' '         51'
 '        395' '        102' '         34' '         84' '        360'
 '        394' '        457' '        382' '        461' '        478'
 '        386' '        112' '        486' '        421' '          9'
 '        308' '        135' '        224' '        504' '        269'
 '        356' '        498' '        390' '        513' '        203'
 '        263' '        477' '        521' '        169' '        515'
 '        445' '        337' '        251' '        428' '        292'
 '        388' '        130' '        250' '        355' '        254'
 '        543' '        531' '        528' '         62' '        120'
 '         42' '         81' '        116' '        530' '        103'
 '         39' '         16' '         92' '         61' '        501'
 '        165' '        291' '        290' '         43' '        325'
 '        192' '        108' '        200' '        465' '        287'
 '        297' '        490' '        482' '        207' '        282'
 '        437' '        225' '        329' '        272' '         28'
 '         77' '        338' '         72' '        246' '        319'
 '        146' '        159' '        380' '        323' '        511'
 '        407' '        278' '         80' '        403' '        399'
 '         14' '        137' '        343' '        346' '        347'
 '        349' '        289' '        351' '        353' '         54'
 '         99' '        358' '        361' '        362' '        366'
 '        372' '        365' '        277' '        109' '        377'
 '        379' '         22' '        378' '        330' '        364'
 '        401' '        232' '        255' '        384' '        167'
 '        212' '        514' '        391' '        400' '        376'
 '        402' '        396' '        302' '        398' '          6'
 '        370' '        369' '        409' '        168' '        104'
 '        408' '        413' '        148' '         10' '        333'
 '        419' '        415' '        424' '        425' '        423'
 '        422' '        435' '        439' '        442' '        448'
 '        443' '        454' '        444' '         52' '        459'
 '        458' '        456' '        460' '        447' '        470'
 '        466' '        484' '        184' '        485' '         32'
 '        487' '        491' '        494' '        193' '        516'
 '        496' '        499' '         29' '         78' '        520'
 '        507' '        506' '        512' '        126' '         64'
 '        242' '        518' '        523' '        539' '        534'
 '        436' '        525' '        541' '         40' '        455'
 '        410' '         45' '         38' '         49' '         48'
 '         67' '         68' '         65' '         91' '         37'
 '          8' '        179' '        209' '        219' '        221'
 '        227' '        153' '        186' '        253' '        202'
 '        216' '        275' '        233' '        280' '        309'
 '        321' '         93' '        316' '         85' '        107'
 '        350' '        279' '        334' '        348' '        150'
 '         73' '        385' '        418' '        197' '        450'
 '        452' '        115' '         46' '         76' '         96'
 '        100' '        105' '        101' '        122' '         11'
 '        139' '        142' '        127' '        143' '        140'
 '        149' '        163' '        160' '        180' '        238'
 '        183' '        222' '        185' '        217' '        215'
 '        213' '        237' '        230' '        234' '         35'
 '        245' '        158' '        258' '        259' '        260'
 '        411' '        257' '        271' '         18' '        106'
 '        210' '        273' '         71' '        284' '        301'
 '        305' '        293' '        264' '        311' '        304'
 '        313' '        288' '        320' '        314' '        332'
 '        341' '        352' '        243' '        368' '        393'
 '        132' '        220' '        412' '        420' '        426'
 '        417' '        429' '        433' '        446' '        357'
 '        479' '        483' '        489' '        229' '        481'
 '        497' '        451' '        492']
--------------------------------------------------
CustomerType
['Transient' 'Contract' 'Transient-Party' 'Group']
--------------------------------------------------
ReservationStatus
['Check-Out' 'Canceled' 'No-Show']
--------------------------------------------------